body {
	margin: 0;
	overflow: hidden;
}

.canvas {
	background-color: black;
	height: 100vh;
}

.colorPickerContainer {
	position: absolute;
	z-index: 10;
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 25px;
}

.colorPicker {
	display: flex;
	flex-direction: column;
}

.colorPickerCloseButton {
	margin-top: 10px;
}

.colorPicker h1 {
	text-align: center;
	color: white;
	margin-bottom: 5px;
}

.messageContainer {
	position: absolute;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-left: 25px;
	color: white;
	margin-top: 15px;
	font-size: 24pt;
}
